challenge_set_annotation/manual_annotations/__pycache__/
challenge_set_annotation/manual_annotations/__pycache__/*
challenge_set_annotation/__pycache__/
challenge_set_annotation/__pycache__/*
challenge_set_annotation/.ipynb_checkpoints/
challenge_set_annotation/.ipynb_checkpoints/*
ACES_private/span_predictions/__pycache__/
ACES_private/span_predictions/__pycache__/*
__pycache__/
__pycache__/*